body {
  font-family: "Arial", sans-serif;
  min-width: 320px;
}

main {
  min-height: calc(100vh - 200px);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Arial", sans-serif;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.display-none {
  display: none;
}
