body {
  font-family: "Arial", sans-serif;
  min-width: 320px;
}

main {
  min-height: calc(100vh - 200px);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Arial", sans-serif;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}