.events {
  margin: 0 6%;
  color: $font-color-primary;
}

.events__header {
  font-size: 24px;
  line-height: 28px;
  margin: 10px 0;
}

.events__card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  min-height: 61px;
  margin: 0 0 12px 0;
  padding-top: 20px;
  transition: .1s linear;
  border-radius: 20px;
  background-color: $background-primary-color;

  &:hover {
    box-shadow: 0 5px 6px 0 rgba(197, 186, 186, .5);
  }
}

.events__card--s {
  padding-bottom: 11px;
}

.events__card-title {
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  margin: 0 0 0 16px;
  padding-right: 1em;
}

.events__card-header {
  display: flex;
  padding: 0 5% 14px 5%;
}

.events__card-icon {
  width: 36px;
  height: 36px;
}

.events__card-subheader {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  margin-bottom: 9px;
  padding: 0 5%;
}

.events__card-source {
  margin-right: auto;
}

.events__card-content {
  padding: 9px 5% 20px 5%;
  transition: .1s linear;
  color: #333333;
  border-radius: 15px;
  background-color: $background-primary-color;

  flex-grow: 1;
}

.events__card-description {
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  border-radius: 10px;
}

.events__card-description--m {
  margin-bottom: 17px;
}

.events__card-image {
  width: 100%;
  height: 144px;
  border-radius: 20px;
}

.events__card-btn {
  position: absolute;
  display: none;
  width: 17px;
  height: 17px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;

  &--close {
    top: 22px;
    right: 24px;
    background-image: url("../img/svg/icon-cross.svg");
  }

  &--next {
    right: 20px;
    bottom: 22px;
    background-image: url("../img/svg/icon-next.svg");
  }
}

@media ($mobile-xl-width) {
  .events__list {
    display: grid;

    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .events__card {
    margin: 0;
  }

  .events__card {
    &--s {
      grid-column: span 1;
      grid-row: span 1;
    }

    &--l {
      grid-column: span 2;
      grid-row: span 3;
    }

    &--m {
      grid-column: span 1;
      grid-row: span 1;
    }
  }
}

@media ($tablet-width) {
  .events__card:hover .events__card-btn {
    display: block;
  }

  .events__header {
    font-size: 3.13vw;
    margin: 2vw 0;
    transition: .1s linear;
  }

  .events__card-subheader {
    font-size: 1.50vw;
  }

  .events__card-title {
    font-size: 1.82vw;
    line-height: 2vw;
  }

  .events__card-description {
    font-size: 2.20vw;
    line-height: 2.50vw;
  }
}

@media ($tablet-l-width) {
  .events {
    margin: 0 12.5%;
  }

  .events__list {
    display: grid;

    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(6, 1fr);
  }

  .events__card {
    &--s {
      grid-column: span 2;

      & .events__card-subheader {
        display: flex;
        flex-direction: column;
      }

      & .events__card-source {
        padding-bottom: 20px;
      }
    }

    &--m {
      grid-column: span 3;
    }

    &--l {
      grid-column: span 4;

      & .events__card-header {
        padding: 0 5% 14px 3%;
      }

      & .events__card-subheader {
        padding: 0 3%;
      }
    }
  }

  .events__card-title {
    font-size: 23px;
    line-height: 28px;
  }

  .events__card-image {
    height: 325px;
  }

  .events__header {
    font-size: 36px;
    line-height: 42px;
    margin: 35px 0;
    transition: .2s linear;
  }

  .events__card-subheader {
    font-size: 18px;
    line-height: 21px;
  }


  .events__card-description {
    font-size: 20px;
    line-height: 28px;
  }

  .events__card-icon {
    width: 52px;
    height: 52px;
  }
}

@media ($desktop-l-width) {
  .events__list {
    grid-template-columns: repeat(8, 1fr);

    .events__card {
      &--s {
        grid-column: span 2;
        grid-row: span 1;
      }

      &--m {
        grid-column: span 3;
        grid-row: span 1;
      }

      &--l {
        grid-column: span 4;
        grid-row: span 2;
      }
    }
  }
}
