.page-header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(256, 256, 256, 0.97);
}

.page-header__wrapper {
  display: flex;
  width: 100%;
}

.page-header__logo {
  margin: 12px 19px 0 19px;
  transition: 0.3s linear;
}

.page-header__menu-toggler {
  align-self: center;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  margin: 10px 10px 0 auto;
  padding: 13px;
  background-image: url("../img/svg/icon-menu-closed.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-header__nav-list-item {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;

  & a {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    opacity: 0.8;
    color: #333333;
  }

  &--active a {
    pointer-events: none; // Делаем ссылку неактивной ибо она ведет на текущую страницу
    opacity: 1;
    text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0,0,0,0.25);
  }

  & a:hover {
    color: lighten($font-color-primary, 30%);
  }

  & a:active {
    color: lighten($font-color-primary, 10%);
  }
}

@media ($tablet-width) {
  .page-header {
    flex-direction: row;
    border-bottom: 1px solid #f0f0f0;
  }

  .page-header__wrapper {
    width: auto;
  }

  .page-header__logo {
    margin: 26px 18px 15px 40px;
    transition: 0.3s linear;
  }

  .page-header__nav-list-item {
    margin: 22px 28px 26px 0;
    padding: 0;
    border-bottom: none;
  }

  .page-header__nav-list {
    display: flex;
    margin-bottom: 9px;
  }

  .page-header__menu-toggler {
    display: none;
  }
}