.widget-fridge {
  display: flex;
  justify-content: space-between;
}

.widget-fridge__btn {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  width: 44%;
  min-height: 44px;
  border-radius: 8px;
  background-color: #e5e5e5;

  &:hover {
    background-color: lighten(#e5e5e5, 2%);
  }

  &:active {
    background-color: darken(#e5e5e5, 5%);
  }


  &--confirm {
    background-color: $contrast-color;

    &:hover {
      background-color: lighten($contrast-color, 5%);
    }

    &:active {
      background-color: darken($contrast-color, 5%);
    }
  }
}
