.widget-cam__img {
  width: 100%;
  height: 243px;
  padding-top: 5px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  touch-action: none;
}

.webp .widget-cam__img {
  background-image: url("../img/webp/robot-cleaner.webp");
}

.no-webp .widget-cam__img {
  background-image: url("../img/robot-cleaner.png");
}

.widget-cam__data {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  padding: 7px 0 13px 0;
}

@media ($tablet-width) and (-webkit-min-device-pixel-ratio: 1.5),
  ($tablet-width) and (min-resolution: 144dpi),
  ($tablet-width) and (min-resolution: 1.5dppx) {
  .widget-cam__data {
    font-size: 1.3vw;
  }

  .webp .widget-cam__img {
    background-image: url("../img/webp/robot-cleaner@2x.webp");
  }

  .no-webp .widget-cam__img {
    background-image: url("../img/robot-cleaner@2x.png");
  }
}

@media ($desktop-width) and (-webkit-min-device-pixel-ratio: 1.5),
  ($desktop-width) and (min-resolution: 144dpi),
  ($desktop-width) and (min-resolution: 1.5dppx) {
  .webp .widget-cam__img {
    background-image: url("../img/webp/robot-cleaner@3x.webp");
  }

  .no-webp .widget-cam__img {
    background-image: url("../img/robot-cleaner@3x.png");
  }

  .widget-cam__data-item {
    display: none;
  }
}

@media ($tablet-l-width) {
  .widget-cam__img {
    height: 420px;
  }
}
